<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>
<body>
  <div id="app">
    {{test}}
   <!-- <p>页面的路径是：{{createdText}}</p> -->
   <p v-html="createdText" v-if="createdText === '000'"></p>

   <input type="text" v-model="createdText">
   <p v-for="(item, index) in list">{{index}} ~ {{item}}</p>
   <p v-on:click="handle">点击</p>


   <p v-for="(item, index) in list">
     {{index}} ---- {{item}}
     <span v></span>
   </p>
  </div>
  <script>
    var testApp = new Vue({
      el: "#app",
      data() {
        return {
          test: '1111',
          createdText: '00000',
          list: [{
            html:'web1',
            code: '0000',
            id: '1111',
            item: ['item1', 'item2']
          }, {
            html:'web2',
            code: '1111',
            id: '0000',
            item: ['item1', 'item2']
          }]
        }
      },
      created() {
        // setTimeout(() => {
        //   this.createdText = 'credted' + window.location.href
        // }, 2000)
      },
      mounted() {
        // setTimeout(() => {
        //   this.createdText = 'mounted' + '0000000000'
        // }, 4000)
        // // setInterval(function (){
        // //   console.log(this)
        // // }, 1000)
        this.handle()
      },
      methods: {
        handle: function() {
          alert(1111)
        }
      },
      beforeUpdate() {
        console.log(5)
      },
      updated() {
        console.log(6)
      },
      beforeDestroy() {
        console.log(7)
      },
      destroyed() {
        console.log(8)
      }
    })
  </script>
</body>
</html>