<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>
<body>
  <div id="app">
    <div>
      <p v-for="(a, b, index) of obj">{{a}} ~ {{b}} ~ {{index}}</p>
    </div>
    <p v-for="item in wsList">{{item}}</p>
    <button @click="handleLCick">点击发送消息</button>
  </div>
  <script>
    let ws
    var app = new Vue({
      el: '#app',
      data() {
        return {
          test: 1,
          obj: {
            'b4': 'four',
            '1a': 'one',
            'f3': 'three',
            '2': 'two'
          },
          wsList: []
        }
      },
      created() {
        console.log(this.obj)
        ws = new WebSocket("ws://127.0.0.1:9001/test")
        const that = this
        ws.onopen = function() {
          that.wsList.push('连接成功')
          ws.send('我链接成功了')
        }
        ws.onmessage = function(e) {
          const msg = JSON.parse(e.data)
          that.wsList.push(msg)
        }
        ws.onerror = function() {
          console.log('我连接失败了')
        }
      },
      methods: {
        handleLCick: function() {
          this.test++
          const param = {
            id: this.test,
            msg: '我点击发送' + this.test
          }
          setInterval(() => {
            ws.send(JSON.stringify(param))
          }, 2000)
        }
      }
    })
  </script>
</body>
</html>